@font-face {
  font-family: barney;
  src: url(./assets/fonts/BARNEY\ POP.ttf);
}

.App {
  text-align: center;
  font-family: barney;
}

body {
  background-image: linear-gradient(to bottom, black, gray);
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;  
}

#loginLogoutBtnsDiv {
  display: flex;
  justify-content: center;
  gap: 50px;
}